*{
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*1st SECTION BLOCK*/
.container-headers{
    background-color: #1f2937;
    color: white;
}

.headers{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.header-links{
    display: flex;
    font-size: 18px;
    gap: 15px;
}

.text-section{
    display: flex;
    justify-content: center;
    padding-inline: 200px;
    
}

.text{
    display: block;
    padding: 50px;
    margin-top: 50px;
    flex: 1;

}

.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: grey;
    height: 250px;
    flex: 1.15;

}

/*2nd SECTION BLOCK*/
.container-info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.info{
    display: block;
}

.cards{
   display: flex;
   margin-top: 50px;
}

.section-1 div,
.section-2 div,
.section-3 div,
.section-4 div{
    margin-inline: 40px;
    height: 150px;
    width: 150px;
    outline: 6px solid #3882F6;
    border-radius: 10px;
}

.section-1 h6,
.section-2 h6,
.section-3 h6,
.section-4 h6{
    padding-top: 10px;
    justify-self: center;
    text-align: center;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
}

.section-1 p,
.section-2 p,
.section-3 p,
.section-4 p{
    justify-self: center;
    text-align: center;
    width: 160px;
    font-size: 16px;
    margin-bottom: 80px;
}

/*3rd SECTION BLOCK*/
.container-quote{
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section{
    margin-block: 100px;
    width: 900px;
}

.quote{
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}

.quoter{
    text-align: right;
    font-weight: bold;
    font-size: 26px;
}

/*3rd SECTION BLOCK*/
.container-call{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.call-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding-inline: 60px;
    width: 850px;
    height: 130px;
}

.call-text{
    padding: 30px;
}

.call-text p{
    margin-block: -3px;
}

/*Button*/
.btn-primary{
    width: 110px;
    background-color: #3882F6;
}

.btn-secondary{
    width: 110px;
    border-color: white;
    border-width: 2px;
    background-color: #3882F6;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #1f2937;
  color: white;
}

